# Directorios de compilación y empaquetado
build/
dist/
*.egg-info/
.eggs/
wheels/

# Archivos de compilación en tiempo de ejecución (byte-compiled)
__pycache__/
*.py[cod]
*.py[cod]c
*.pyc
*.pyo
*.pyd
uv.lock
# Archivos generados por PyInstaller
*.manifest
*.spec
MANIFEST.in

# Entornos virtuales (ajustar según el nombre de tu entorno)
.venv/
venv/
env/
ENV/

# Archivos de registro y temporales
pip-log.txt
pip-delete-this-directory.txt
.log

# Archivos específicos de IDEs o editores de texto
.vscode/
.idea/
.project
*.sublime-project
*.sublime-workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db